<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apicliente" value="https://localhost:7296/api/clientes"/>
    <add key="apisituacaocli" value="https://localhost:7296/api/situacaoclientes"/>
    <add key="apitipocli" value="https://localhost:7296/api/tipoclientes"/>
  </appSettings>
</configuration>